[2015-12-10 17:36] lholmquist opened #1 "Add NSP to the checks"
Would be nice to have nsp(https://github.com/nodesecurity/nsp) run as one of the checks.

I can add it if you think it would be useful

[2015-12-10 17:46] inikulin commented on #1
It would be definetly great! PR is welcome. I think the separate optional validation will be nice. Could you add a brief summary on this feature in the readme, please? Because website for this thing is a little bit cryptic and it took some time for me to figure what's it for.

[2015-12-10 17:47] lholmquist commented on #1
sure thing

[2015-12-10 17:58] bahmutov opened #2 "Perform extra sensitive checks on published files, not on all"
right now code checks every filename against a list (https://github.com/bahmutov/ban-sensitive-files) but the published files will be very different due to .npmignore, .gitignore and "files" property (see http://glebbahmutov.com/blog/smaller-published-NPM-modules/)

I think we need to grab the actual list of published files using https://www.npmjs.com/package/pkgfiles and ban files like `.npmrc` f

[2015-12-10 18:06] inikulin commented on #2
Hi.
Yes, this makes sense. Do you mind sending a PR?

P.S. Thank you for your package, BTW, it's used by the `publish-please` internally.

[2015-12-10 18:44] bahmutov commented on #2
I found it inside when looking how you check sensitive files. I will try making a PR, but a little short on time, but we will see

[2015-12-10 19:29] inikulin opened #3 "Implement plugin system"

[2015-12-10 19:40] lholmquist commented on #1
PR here:  https://github.com/inikulin/publish-please/pull/4

[2015-12-10 20:34] jokeyrhyme opened #5 "scoped packages vs `npm publish --access <mode>`"
I publish scoped (yet public) packages almost exclusively now, and upstream `npm publish` requires an `--access` argument for such packages:
- https://docs.npmjs.com/cli/publish

Do you think it would be appropriate for my "public" or "restricted" access value to be recorded somewhere in .publishrc, and for `publish-please` to honour it?

Is this something you'd accept a PR for?

[2015-12-11 09:21] inikulin commented on #5
Haven't used scoped packages yet.

If it will not expose any credentials then why not? =)

Sure

[2015-12-11 09:55] inikulin commented on #2
@bahmutov I'll take care of this on weekend. Thank you for the suggestion!

[2015-12-12 14:37] balupton commented on #3
https://github.com/bevry/pluginclerk may be of use, we plan on moving the DocPad plugin system (over 200 plugins) over to it

[2015-12-14 04:05] jokeyrhyme opened #6 "`npm test` failure with git 2.4.0 and newer"
From the release notes for git 2.4.0:
- https://raw.githubusercontent.com/git/git/master/Documentation/RelNotes/2.4.0.txt

The commit is here:
https://github.com/git/git/commit/4b06318664638d306cad920fd86eb63b69739310

What I've noticed is that when I run `npm test` with git 2.6.4, I get the following assertion failure:

[2015-12-15 00:36] jokeyrhyme commented on #6
Should be fixed as part of #7

[2015-12-15 00:36] #6 closed

[2015-12-15 15:04] inikulin opened #9 "Publisher validation"

[2015-12-25 10:00] inikulin opened #14 "Create "files" field in package.json on `init`"

[2015-12-27 07:05] zhuangya opened #15 "npm shrinkwrap validation?"
maybe add npm shrinkwrap validation?

at least check the `version` in `npm-shrinkwrap.json` matches `version` in `package.json` and `git tag`

[2015-12-28 05:21] boneskull commented on #1
:+1:

[2016-01-04 14:11] inikulin commented on #15
I haven't used shrinkwrap. However, this sounds reasonable, but requires some additional investigation. Seems like it can be made as the part of version/tag validation if `npm-shrinkwrap.json` is present in the package.

[2016-01-04 16:38] inikulin opened #16 "Publish guard"
Implement guard that will prevent publishing without publish-please

[2016-01-04 16:40] inikulin opened #17 "`init` command"
Implement `publish-please init` that will add publish guard and run `config` command on install.

[2016-01-12 11:54] inikulin commented on #3
I've refactored project the way it will be extremely easy to add new functionality to the core, so I don't see any need for plugins at the moment

[2016-01-12 11:54] #3 closed

[2016-01-26 08:42] inikulin opened #18 "Add `ignore` options for the sensitive data check"

[2016-02-01 14:03] inikulin commented on #2
Closed via  14827a9

[2016-02-01 14:03] #2 closed

[2016-02-01 14:49] inikulin opened #20 "Remove gulp support"
There is an inconsistency in how prepublishScripts are run. With gulp you can specify them as the task-desp, while in CLI you should specify it in configuration. Having the one correct way to do things is preferable.

[2016-02-01 14:53] #20 closed

[2016-02-02 11:55] #1 closed

[2016-02-02 12:18] #18 closed

[2016-02-04 16:36] boneskull commented on #14
What's the purpose of this?

[2016-02-04 16:44] inikulin commented on #14
There will be 'init' command which will guide through steps to setup publish-please for the given package. I'm constantly forget to add 'files' field, so my tests and other unecessary data gets published to npm. There will be a step in 'init' which will ask you to add that field to config. Further reading: https://github.com/inikulin/dmn#readme

[2016-02-05 21:23] boneskull commented on #14
:+1:

[2016-03-21 14:03] artemruts opened #22 "prepublishScript and validations"
Hi Ivan,

Not an issue more like a question about `publish-please`.
When I use `prebublishScript` to tag or to do other things that involve changing versions, contents of files, etc, I run multiple checks to make sure user is doing everything right. Among those checks are checks for `master` branch and if repo is `clean`. Can I create another pr to move `prepublishScript` after all the validations

[2016-03-21 14:28] inikulin commented on #22
You can simply disable unnecessary validations in `publish-please` using options or `.publishrc` file.

[2016-03-21 14:51] artemruts commented on #22
Thank you, I guess in my case it'll be enough to drop some validations.

[2016-03-21 14:51] #22 closed

[2016-03-23 10:25] inikulin opened #23 "Validate that fork master is up to date with the upstream when publish from fork"

[2016-04-04 11:17] #16 closed

[2016-04-04 12:32] inikulin opened #24 "Get rid of emoji package, provide symbol replacement for Windows."
Replace `defaults` and `noop-fn` deps with `lodash` as well

[2016-04-04 14:00] inikulin opened #25 "Rename validations and move them to dedicated object in config"

[2016-04-04 14:42] #25 closed

[2016-04-05 13:26] inikulin opened #26 "`config` command"
Implement command that will run series of prompts to configure publish-please

[2016-04-05 14:19] #17 closed

[2016-04-07 11:16] #26 closed

[2016-05-18 06:01] bfred-it opened #29 "Global version"
Is it possible to install it globally? I'm not sure I want to add this as a dependency to all of my packages but it looks more complete than https://www.npmjs.com/package/np

[2016-05-18 07:22] miherlosev opened #30 "Cannot install package on v0.10.45 node"
![untitled](https://cloud.githubusercontent.com/assets/4133518/15350469/544c3228-1ce2-11e6-9884-62a66eed1d64.png)

The current package version - 2.0.0

[2016-05-18 08:08] inikulin commented on #30
Yes, it requires node >= 4. npm actually gives you warning about it.

[2016-05-18 08:08] #30 closed

[2016-05-18 08:19] inikulin commented on #29
It should be a dev dependency, so it's shouldn't affect your production performance. Anyway, you can use v1.0: https://github.com/inikulin/publish-please/tree/1.0 . But it's missing some features, including guard, which will prevent from publishing with `npm publish`. From my experience someone can accidently run `npm publish` and skip some important steps like Babel transpilation which results in

[2016-05-18 10:23] inikulin opened #31 "Support Node 10"

[2016-05-18 11:14] #31 closed

[2016-05-23 17:35] KyleAMathews commented on #29
Could you update the warning when installing globally to make it clear that isn't supported now? I tried upgrading from 1.x 5-6 times before finding this issue.

[2016-05-23 17:56] inikulin commented on #29
@KyleAMathews Can you describe issues you've encountered in details, please?

[2016-05-23 17:58] inikulin opened #32 "Forbid global installation"
See: https://github.com/inikulin/publish-please/issues/29#issuecomment-221040313

[2016-05-23 17:59] inikulin commented on #29
@KyleAMathews Nevermind, got it now. I've created separate issue: https://github.com/inikulin/publish-please/issues/32

[2016-05-23 17:59] #29 closed

[2016-05-24 10:43] #32 closed

[2016-05-24 16:21] bfred-it commented on #29
@inikulin your point is valid but I'd still rather not add it to my modules, but instead use it as a cli tool when necessary.

[2016-05-24 16:23] inikulin commented on #29
@bfred-it You are free to use v1.x.x then

[2016-05-30 09:03] AndreyBelym opened #35 "Package installation fails with npm<3.0.0"
`npm` at versions lower than 3.0.0 can execute `postinstall` scripts before package dependencies was installed: https://github.com/npm/npm/issues/6926. Due to `babel`ified `lib/init.js`, that requires `babel-runtime` and `core-js`, it sometimes causes the following error:
[code]

[2016-05-30 14:14] #35 closed

[2016-05-30 14:22] inikulin commented on #35
Published as `v2.1.4`

[2016-06-08 20:16] jokeyrhyme commented on #5
It looks like it's possible to set `{ publishConfig: { access: "public" } }` in package.json, so this might be a valid work-around:
- https://docs.npmjs.com/files/package.json#publishconfig

Also, in my experience, this only needs to be set for the first `npm publish` anyway, as a public and scoped package can be published any time after that without explicitly using `--access public`.

[2016-06-08 20:28] inikulin commented on #5
Cool, so we can close it?

[2016-06-08 20:30] jokeyrhyme commented on #5
Yeah, I'm sure this Issue will be easy enough to find. I do think we'll see more and more public scoped packages now that they show up in NPMs search (and as the unscoped namespace runs out of all the cool names).

[2016-06-08 20:30] #5 closed

[2016-06-13 09:06] boneskull opened #36 "publish-please fails an nsp check"
This is due to an old version of `moment` contained in a dependency three (3) levels deep.

I have sent [a PR](https://github.com/bahmutov/ban-sensitive-files/pull/13) to address the issue, but this package will then need to update to the latest `ban-sensitive-files` when released (assuming my PR will be merged).

[2016-06-14 09:56] inikulin commented on #36
Awesome, thanks! PR in `ban-sensitive-files` has been merged and released. Since we use semver this should be fixed just by running `npm update` in your repo.

[2016-06-14 09:56] #36 closed

[2016-06-30 07:05] fab1an opened #37 "Show warning if no .npmignore or whitelisted files"
I think it would be good to tell users to whitelist the files they want included in their packages or have an `.npmignore`. It would lead to less code being copied and issues like "react-native" breaking when there is a `.babelrc` lying around in a dependency..

[2016-06-30 09:43] inikulin commented on #14
Closing in favor of #37

[2016-06-30 09:43] #14 closed

[2016-06-30 09:43] inikulin commented on #37
PR is weclome!

[2016-09-15 13:20] markvandenbrink opened #40 "Branch validation not working on Windows"
Since the branch validation uses the `sed` command it won't work on Windows machines. The processing of the current branch name needs to be converted to JavaScript.

[2016-09-17 18:16] Xunnamius opened #41 "Emojis broken"
The emojis don't show up on my terminal (zsh, debian, using powerline awesome fonts + source code font). Is there any way to disable them?

[2016-09-19 09:53] inikulin commented on #41
@Xunnamius Thank you for the report!

It would be nice to gracefully degrade to text for terminals that doesn't support emojis. But I'm not aware of any method that allows us to determine if terminal supports emoji. I thought it doesn't supported by Windows (which easily can be determined by platform check), but seems like nix platforms are affected as well. In that case I guess we can get rid of

[2016-10-29 08:13] sobolevn opened #42 "yarn support"
For now something is broken:
1. When running `yarn add publish-please` no config task is shown.
2. When running `yarn install` it fails with this message:

[Link to the travis job](https://travis-ci.org/wemake-services/vue-material-input)

Full source code: https://github.com/wemake-services/vue-material-input

[2016-10-29 08:15] sobolevn commented on #42
I guess it happens because:

https://docs.npmjs.com/misc/scripts

[2016-10-31 09:15] inikulin commented on #42
Hi!

Both issues are caused by broken compatibility with npm in yarn. I've already issued a pull request to to fix this behavior: https://github.com/yarnpkg/yarn/pull/1111

[2016-11-01 11:27] inikulin commented on #42
@sobolevn PR was merged, it should work with next yarn release

[2016-12-07 00:32] Couto opened #43 "Dry run mode"
Thanks for the package. It's just awesome to have something doing so many validations with just a simple command.

I was wondering, is there a way to run the publish script in a "dry run" mode?
I would love to incorporate this in our build system to ensure that all libraries are ready to be published, but I would like to delay that to a manual process.

This implies that the `npm run publish-pleas

[2016-12-08 09:26] inikulin commented on #43
That's a great idea. It should be easy to implement, PRs are welcome.

[2017-01-01 11:33] yxliang01 opened #44 "have an option "warn" for validations"
I think it would be nice if we can set that when a validation fails, it will warn us about that without preventing us from publishing.

[2017-01-02 22:07] #42 closed

[2017-01-07 09:25] sobolevn commented on #42
It works indeed.

[2017-05-30 00:15] rprieto commented on #29
Hi, same question: I didn't quite understand why the global version is deprecated. What are the main reasons?

I agree most tools should be local "dev" dependencies (e.g. mocha, eslint, etc...). However this feels like a tool that I want to have on our build agents so it applies to **all** our packages. Similar to @bfred-it, having to add it to hundreds of modules in an enterprise context would be

[2017-05-30 07:08] inikulin commented on #29
Hi, this is a requirement since it allows prevent publishing without publish-please. I don't dig this argument about installation to many packages, to be honest (at least the process can be automated with a few lines of code). But if it's still a huge concern for you, then fell free to use v1 or fork current version and implement required functionality.

[2017-07-31 23:54] AndersDJohnson opened #47 "Support `.publishrc.json`"
Support `.publishrc.json` so we get JSON syntax highlighting, linting, etc. for free.

[2017-07-31 23:56] AndersDJohnson commented on #47
Possibly use https://github.com/davidtheclark/cosmiconfig.

[2017-08-28 14:47] tobilg opened #48 "[idea] Integrate `license-checker` as a new kind of validation"
I was thinking if it would make sense to create a new kind of validation for [license-checker](https://github.com/davglass/license-checker). Goal behind this would be that one would be able to verify if the project uses a license which is forbidden by a policy (e.g. fail on `GPL` licenses)...

[2017-08-29 09:55] inikulin commented on #48
I love the idea. PRs are welcome!

[2017-08-30 09:16] tobilg commented on #48
Is there any documentation on how to implement a new policy for `publish-please`?

[2017-08-30 12:29] inikulin commented on #48
@tobilg You can take a look at how our validations are implemented: https://github.com/inikulin/publish-please/tree/master/src/validations
All you need to do is implement your validation module and add it to this list: https://github.com/inikulin/publish-please/blob/master/src/validations/index.js#L7

[2017-08-30 12:39] tobilg commented on #48
I'll have a look! Thanks for the hints...

[2017-08-30 12:42] tobilg commented on #48
Sorry, one more thing... How would it work when integrating the configuration of the validation module in the `.publishrc`? Thanks!

[2017-08-30 12:52] inikulin commented on #48
Each validation has an `option` field which specifies associated `.publishrc` field. `run` method receives value specified in `.publishrc` as an argument (if it's `false` then `run` method will not be called). So, once you register your validation it should automatically appear in configuration wizard and be parsed from configuration file.

[2017-08-30 12:57] tobilg commented on #48
Thanks, I see... I was planning to use an array/list of licenses. As far as I understood, that would work as well?!

E.g.

[code]

And for the "online" configuration, I think I could use https://github.com/inikulin/publish-please/blob/master/src/utils/inquires.js#L29

[2017-08-30 12:58] inikulin commented on #48
@toblig Yes, that's correct. You will get your list as an argument to `run` function.

[2017-10-09 16:48] DaveWelling opened #49 "Vulnerability reported on itself"
It looks like publish-please has a vulerability:  https://nodesecurity.io/advisories/534
It causes publishing to fail.
It would be nice if we could disable/warn for devDependency vulnerabilities.  Perhaps a config option?

[2017-10-09 17:55] inikulin commented on #49
Yeah, it makes sense to not report vulnerabilities for devDependencies at all. PR is welcome.

[2017-12-12 14:21] tobilg opened #50 "Possible to pass other userconfig than the logged-in user?"
I would like to know if it's possible to use something similar to

with `publish-please`? I didn't find anything in the docs regarding that. Thanks!

[2017-12-14 10:10] alisabzevari opened #51 "tag validation for release branch workflow"
We are using this nice library in one of our team's libs. Our release workflow is as follows:
* When we want to release the next version, we create another branch called a release branch
* Then we run `npm version ...` command to increase the version
* Then we create another PR (called release PR) with the changelog
* After reviewing this PR and merging it to master we run the publish command

The

[2017-12-30 07:08] #37 closed

[2018-03-19 22:50] jhm-ciberman opened #53 "prepublishScript fails when using escaped quotes inside npm script."
This is my actual npm scripts: (The project is written in typescript, and runs the tests ussing alsatian test runner)

[code]

And this is my `.publishrc` file:

[code]

The output on the console is the following:

[code]

As you can see, the double quotes escaped `\"` are not recognized by `publish-please`.

I had to uninstall this package since the double quotes are required by alsatian test run

[2018-04-05 21:34] hdorgeval opened #56 "be able to prevent publishing when a dependency points to github"
Hi @inikulin, I have recently published a package with publish-please (testcafe-static-analyser). But this package could not be installed inside my company due to the fact that github is not reachable on teamcity user agents.
It would be great that publish-please detect any direct dependency to github like in glob-fs (for example) and then prevents publishing.

Thanks for this great product.

[2018-04-12 17:41] yxliang01 opened #57 "Latest v2.4.1 on NPM doesn't run postinstall correctly"
The `lib/init.js` doesn't contain any statement making `npm install --save-dev publish-please` doesn't run the configuration wizard. Since the `postinstall` script is ineffective.

Thanks

[2018-04-18 08:31] tobilg opened #58 "Broken git branch checking on Windows"
When I try to use publish-please on Windows with enabled branch validations, I see the following error message:

[code]

`sed` is not installed by default on Windows.

[2018-04-23 15:58] inikulin commented on #41
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:58] inikulin commented on #43
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:58] inikulin commented on #44
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:58] inikulin commented on #47
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:59] inikulin commented on #48
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:59] inikulin commented on #49
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:59] inikulin commented on #50
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:59] inikulin commented on #51
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 15:59] inikulin commented on #53
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step up as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 16:00] inikulin commented on #56
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step in as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 16:00] inikulin commented on #57
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step in as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-04-23 16:00] inikulin commented on #58
⚠️LOOKING FOR MAINTAINERS ⚠️ Unfortunately I don't have enough time and interest in supporting this project anymore. If someone would like to step in as a maintainer for this project, please, drop a mail to ifaaan@gmail.com

[2018-06-01 11:11] hdorgeval opened #60 "Cannot install v3.0.0 on windows"
pre-install script fails when doing an `npm install --save-dev publish-please` on windows, thus failing the install.

[2018-06-01 12:14] inikulin commented on #60
@hdorgeval Maybe it's worth adding CI tests that run on Windows as well, e.g. using [AppVeyour](https://www.appveyor.com/)?

[2018-06-01 17:53] hdorgeval commented on #60
Hi @inikulin, thank you for the suggestion. I am currently looking on how to setup AppVeyor on publish-please

[2018-06-06 15:23] AndreyBelym opened #62 "The publish-please@3.0.0 published without the 'lib' directory"
Check distribution tarball: https://registry.npmjs.org/publish-please/-/publish-please-3.0.0.tgz.

[2018-06-07 05:36] hdorgeval commented on #62
Hi @AndreyBelym, v3.0.1 is now ready. Could you please give it a try?

[2018-06-07 05:38] hdorgeval commented on #58
Hi @tobilg , a new version has been published that may solve your problem. Could you please give it a try?

[2018-06-07 05:40] hdorgeval commented on #57
Hi @yxliang01, a new version has been published that may solve your problem. Could you please give it a try?

[2018-06-07 05:48] hdorgeval commented on #40
Hi @markvandenbrink, a new version has been published that may solve your problem. Could you please give it a try?

[2018-06-07 05:49] hdorgeval commented on #49
Hi @DaveWelling, a new version has been published that may solve your problem. Could you please give it a try?

[2018-06-07 07:38] AndreyBelym commented on #62
Thank you for being so fast, it's fixed now.

[2018-06-07 07:38] #62 closed

[2018-06-07 10:39] hdorgeval commented on #60
Solved in v3.0.1

[2018-06-07 10:39] #60 closed

[2018-06-07 16:51] hdorgeval commented on #41
Hi @Xunnamius,   a new version has been published that may solve your problem. Could you please give it a try?

[2018-06-07 16:59] hdorgeval opened #63 "What should be the next Feature?"
Hi guys, I open a new issue where you can vote for the next-to-have feature in publish-please.

Feel Free to add any missing nice-to-have or must-to-have feature by adding a new comment.

[2018-06-07 17:03] hdorgeval commented on #63
## Be able to run publish-please in dry mode.
[code]
Instead of publishing, this will create (after all validations) the tar file that will be sent to npm, so that you can inspect it to be sure everything is there.

[2018-06-07 17:05] Xunnamius commented on #41
Sure, I'll give it a go later tonight. Thanks for your hard work!

[2018-06-07 17:07] hdorgeval commented on #43
Hi @Couto , closed in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 17:07] #43 closed

[2018-06-07 17:11] hdorgeval commented on #58
Hi @tobilg, I close this issue. Feel free to re-open it if your problem is not solved

[2018-06-07 17:11] #58 closed

[2018-06-07 17:13] hdorgeval commented on #57
Hi @yxliang01, I close this issue. Feel free to re-open it if your problem is not solved.

[2018-06-07 17:13] #57 closed

[2018-06-07 17:15] hdorgeval commented on #53
Hi @jhm-ciberman, I close this issue. Feel free to re-open it if your problem is not solved.

[2018-06-07 17:15] #53 closed

[2018-06-07 17:18] hdorgeval commented on #56
Hi @hdorgeval, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 17:18] #56 closed

[2018-06-07 17:39] hdorgeval commented on #51
Hi @alisabzevari, Thanks for using publish-please. I think your problem is unsolvable since it means rewriting the history in order to move the tag on top of the commits history. You should create a new tag and then run publish-please.

Maybe you are looking for a new feature in publish-please like "automatically create a tag on the last commit" before publishing. Feel free to add this nice-to-hav

[2018-06-07 17:39] #51 closed

[2018-06-07 17:42] hdorgeval commented on #49
Hi @DaveWelling, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 17:42] #49 closed

[2018-06-07 17:44] hdorgeval commented on #63
## Do not report vulnerabilities for dev dependencies

[2018-06-07 18:03] hdorgeval commented on #63
## Be able to publish under custom credentials

[code]

Instead of publishing under the current logged-in user, be able to publish under a specific user

[2018-06-07 18:04] hdorgeval commented on #50
Hi @tobilg, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 18:04] #50 closed

[2018-06-07 18:10] hdorgeval commented on #63
## Integrate `license-checker` as a new kind of validation

Create a new kind of validation for [license-checker](https://github.com/davglass/license-checker). Goal behind this would be that one would be able to verify if the project uses a license which is forbidden by a policy (e.g. fail on GPL licenses)...

[2018-06-07 18:11] hdorgeval commented on #48
Hi @tobilg, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 18:11] #48 closed

[2018-06-07 18:20] hdorgeval commented on #63
## Support `.publishrc.json`

As a user I want to be able to rename the .publishrc to .publishrc.json at any time after the installation of publish-please

[2018-06-07 18:21] hdorgeval commented on #47
Hi @AndersDJohnson, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 18:21] #47 closed

[2018-06-07 19:11] hdorgeval commented on #63
## have an option "warn" for validations

Be able to publish even when a validation fails, without having to disable this validation in the .publishrc file

[2018-06-07 19:12] hdorgeval commented on #44
Hi @yxliang01, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 19:12] #44 closed

[2018-06-07 19:13] hdorgeval commented on #40
Hi @markvandenbrink, I close this issue. Feel free to re-open it if your problem is not solved.

[2018-06-07 19:13] #40 closed

[2018-06-07 19:15] hdorgeval commented on #41
@Xunnamius, thank you for your answer. I hope everything will be ok.

[2018-06-07 20:16] hdorgeval commented on #62
Hi @AndreyBelym, thank you for your feedback. I would greatly appreciate your advices on what should be in the next publish-please version : [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 20:19] hdorgeval commented on #15
Hi @zhuangya, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-07 20:19] #15 closed

[2018-06-08 07:28] AndreyBelym commented on #63
# Check Github status of the `master`'s `HEAD` commit as a new kind of validation
Github allows external CI services like Travis CI, Cirecle CI, etc. to run tests for a commit and report their statuses as passed/failed. `publish-please` can retrieve combined status of tests using [Github Statuses API](https://developer.github.com/v3/repos/statuses/#get-the-combined-status-for-a-specific-ref) (e.g.

[2018-06-08 07:35] AndreyBelym commented on #62
Thanks @hdorgeval, honestly I would like to see all of them in `publish-please` 😄 Maybe I'll implement [Github status checking](https://github.com/inikulin/publish-please/issues/63#issuecomment-395674230) and open a PR if I have some free time.

[2018-06-08 10:36] hdorgeval commented on #41
Hi @Xunnamius, I close this issue in favor of [Vote for the next-to-have feature](https://github.com/inikulin/publish-please/issues/63)

[2018-06-08 10:36] #41 closed

[2018-06-08 10:41] hdorgeval commented on #63
## Be able to run publish-please without emoji

[code]

[2018-06-13 06:38] Farfurix opened #66 "Latest publish-please@3.0.1 doesn't install via npm@3.10.10"
Hello, we use Node@6 setup in Travis CI check (`nvm install 6`) and have the `publish-please` installation problem.

Full details:
https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/builds/390074883

Error:
https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/jobs/390074885#L474
[code]

Also it reproduced on Windows 10:
[code]

[2018-06-13 08:06] hdorgeval commented on #66
Hi @Farfurix , thank you for your feedback. I will investigate this issue asap. As a work around is it possible to upgrade npm to the latest version in the CI?

[2018-06-13 15:57] hdorgeval commented on #66
Hi @Farfurix, it would help me a lot if you could confirm that when launching the pre-install script of publish-please package, there is no node_modules at this time inside the publish-please folder (ie the node_modules only "popup" on post-install)

[2018-06-13 21:12] thibaultboursier commented on #66
@hdorgeval Hello, i'm going to try to reproduce this issue.

[2018-06-13 21:31] hdorgeval commented on #66
@Farfurix , @thibaultboursier, @miherlosev : impossible to reproduce this error on my side, even when I configure travis and appveyor with node 6 and npm@3.10.10. Maybe there is a hidden difference in the travis configuration between testcafe-hammerhead and publish-please repos.

If think that you are facing this issue when the node_modules folder is not present inside the publish-please installat

[2018-06-13 22:09] thibaultboursier commented on #66
@hdorgeval Same for me, i couldn't reproduce this issue, even with the same NPM/Node/PP version. However, it seems fixed on testcafe side : https://travis-ci.org/testcafe-build-bot/testcafe-hammerhead/builds/391742808

[2018-06-14 13:18] Farfurix commented on #66
@hdorgeval, @thibaultboursier: this [PR](https://github.com/DevExpress/testcafe-hammerhead/pull/1644) is closed with the `npm` update workaround. I need some time to provide additional information.

[2018-06-17 16:42] hdorgeval commented on #66
Hi @Farfurix, I close this issue. Feel free to re-open it if you encounter the same problem.

[2018-06-19 08:19] Farfurix commented on #66
Hello, @hdorgeval.
I confirm that there is no problem with `npm install` in `publish-please` repo context. I'm trying to install `publish-please` as `testcafe-hammerhead` dependency.
Installation via https://www.katacoda.com/courses/nodejs/playground:
[code]
then we get the same error:
[code]
This problem can be solved by installing `npm` 5 or higher (now we use workaround with latest `npm` versio

[2018-06-19 10:52] hdorgeval commented on #66
Hi @Farfurix, thank you for your great feedback. I reopen the issue and will try to fix it asap

[2018-06-20 10:29] hdorgeval commented on #66
Hi @Farfurix , the fix has been delivered in version 3.0.3. Thank's for your help on this issue.

[2018-06-20 10:29] #66 closed

[2018-06-25 18:04] hdorgeval commented on #63
## Be able to prevent publishing when a dependency points to github

[2018-07-24 12:11] Truemedia opened #72 "Node Security Platform shutting down"
The Node Security Platform service is shutting down 9/30 - https://blog.npmjs.org/post/175511531085/the-node-security-platform-service-is-shutting

Just wondering what's the next step around this, and if this is gunna break the command after that date?

[2018-07-24 12:36] hdorgeval commented on #72
@Truemedia : thank you for this feedback. I already reached the npm support but got no answer from them about this topic.

Nevertheless I have found a way to programmatically  use `npm audit` command, which currently is the only official `nsp` replacer.

I will create very soon a PR on this subject in order to replace `nsp`  before the 9/30.

Best regards

[2018-07-24 15:38] Truemedia commented on #72
@hdorgeval cool cheers

[2018-09-02 16:33] DominicBoettger opened #74 "Possible to check if published"
Is it possible to check if a version has already been published and just skip the publish step?

This was the behaviour of publish.

[2018-09-07 15:32] artivilla commented on #63
## Automated Changelog

[2018-09-28 11:17] jehy opened #75 "Check if extra files are ignored"
Hi! Recently I forked https://github.com/jehy/diarrhea from https://github.com/ModClean/modclean because there are often too many trash files in published package: tests, typescript files, markdown, linter configs and etc.

How about adding a check for those files? I could make a separate package but I don't want to make one more tool for the same purpose - and your tools looks just fine.

To make

[2018-09-28 11:18] jehy commented on #63
Check for trash files which should not be published. https://github.com/inikulin/publish-please/issues/75

[2018-10-01 01:52] artivilla commented on #63
@hdorgeval This tool simply focuses on generating changelogs -- https://github.com/zeit/release. There are other tools like [release-it](https://github.com/webpro/release-it#release-it) that come with this inbuilt but has similar features to publish-please.

[2018-10-01 11:00] hdorgeval commented on #75
Hi @jehy, thank you for your suggestions.
I will investigate this when PR on npm audit will be released.
PR is also welcomed if you want to.

[2018-10-06 07:55] kevinkace opened #76 "Update lodash to pass npm audit"
I'm getting an error when trying to publish my package as the version of lodash in publish-please contains a vulnerability.

[2018-10-06 08:18] hdorgeval commented on #76
Hi @kevinkace, which version of publish-please are you using?

[2018-10-06 08:37] hdorgeval commented on #76
@kevinkace : thank you for your feedback.
 As a temporary fix, until I do some correction on my side, you have two possible workarounds:

1°) Create a `.auditignore` file at the root of your project and insert in it the following line:
[code]

2°) Remove the publish-please dependency and scripts associated in the `package.json` file:

[code]

Keep the .publishrc file
then use `npx publish-please`

[2018-10-06 08:39] hdorgeval commented on #76
@kevinkace : if you choose the second option, do not forget to re-generate the `package-lock.json` file

[2018-10-06 08:41] kevinkace commented on #76
@hdorgeval thanks, I'll give it a shot.

[2018-10-06 22:37] hdorgeval commented on #76
@kevinkace : thank you for your feedback.
I opened a PR to solve this issue: [Replace ban-sensitive-files dependency with a custom sensitive-data validation](https://github.com/inikulin/publish-please/pull/77)

[2018-10-06 22:40] hdorgeval commented on #76
@kevinkace : I leave this issue opened until PR#77 is merged.

[2018-10-06 23:37] hdorgeval commented on #75
Hi @jehy : I opened PR#77 to solve this issue

[2018-10-09 15:35] BillyBlaze opened #78 "config helper hangs on Windows after answering first question"
Hi,

If I run `npm run publish-please config` on a windows 10 machine, then after I answered the first question, I get stuck and it will not load any follow up questions, which results that I am unable to run the config. This also happened during the first installation.

![image](https://user-images.githubusercontent.com/445608/46679973-585ad880-cbe8-11e8-8574-99bcb47c14e0.png)

I have tried this

[2018-10-10 10:13] hdorgeval commented on #78
Hi @BillyBlaze , than you very much for this complete report. I will try to solve this issue as soon as possible.

[2018-10-10 11:47] hdorgeval commented on #78
Hi @BillyBlaze, after investigation, this problem can only be solved by updating `inquirer` dependency to latest version. I will open a PR asap to solve this issue.

[2018-10-11 11:32] BillyBlaze commented on #78
Hi @hdorgeval,

I have updated it to 4.0.1 and can confirm this issue has been resolved! Thanks for your hard work!

[2018-10-11 11:32] #78 closed

[2018-10-17 20:28] hdorgeval commented on #63
Hi @BillyBlaze. Thank you for your great feedback. I did not know that publish-please was used in TeamCity. Because I am using TeamCity in my every day job, I fully understand your pain.

So this topic will be the next PR. If you want to contribute and create a PR you are welcome.

I suggest to take the reporter plugin path.
Maybe you have some ideas on how to implement a reporter plug-in.

The id

[2018-10-18 23:41] inikulin commented on #63
@hdorgeval as an alternative solution I can suggest using https://www.npmjs.com/package/is-ci to check for CI environment and just disable elegant status when required.

[2018-10-19 10:20] hdorgeval commented on #63
@inikulin  thank you for your suggestion. I will go your way and I suggest to create two internal reporters: one for elegant status and one for CI. At runtime, based on `ìs-ci` package the active reporter will be either the 'elegant status' reporter or the 'CI' reporter. Maybe it could be valuable to add a `--ci` option on the command-line to be able to force the reporter to be the 'CI' reporter w

[2018-10-19 15:56] inikulin commented on #63
@hdorgeval makes perfect sense to me, many CLI tools use the same approach.

[2018-10-27 13:39] hdorgeval commented on #75
Hi @jehy, `publish-version@5.0.0` has been published to npm. Could you give it a try?
Any feedback is welcomed.

[2018-10-27 13:41] hdorgeval commented on #76
Hi @kevinkace, this issue is solved in `publish-please@5.0.0`. Could you give it a try?
Any feedback is welcomed.

[2018-10-29 09:37] jehy opened #82 "tgz file is left in project directory after publishing"
After successful or failed publish, tgz file is left in project directory.

[2018-10-29 09:38] jehy commented on #75
Looks absolutely great, thanks!
It would be even better if user could override  .sensitivedata on per project basis - because there can be some files that are okay to publish and vice versa.

[2018-10-29 11:47] hdorgeval commented on #75
Hi @jehy , thank you very much for your great feedback. I will create a PR so that you could override `.sensitivedata` on per project basis.

I keep this issue opened until this next-to-come PR is delivered.

[2018-10-29 11:49] hdorgeval commented on #82
Hi @jehy , thank you very much for this feedback. I will correct this asap.

[2018-10-29 19:08] kevinkace commented on #76
Success!! Thank you for the update.

[2018-10-29 19:08] #76 closed

[2018-11-04 22:13] #82 closed

[2018-11-04 22:15] hdorgeval commented on #75
Hi @jehy , your proposal has been added to publish-please@5.2.0.
Could you give it a try?
Any feedback is welcomed.

[2018-11-04 22:15] #75 closed

[2018-11-20 23:20] hdorgeval commented on #63
Hi @BillyBlaze, your proposal has been published in version 5.3.0.
See the [README](https://github.com/inikulin/publish-please/blob/master/README.md#running-in-ci-mode) for more details.
Could you give it a try?

[2018-11-26 09:48] BillyBlaze commented on #63
Hi @hdorgeval,

Thanks for your hard work! I have upgraded it and it looks great, the only comment I have is that some special characters still look funny.

[code]

[2018-11-26 11:20] hdorgeval commented on #63
Hi @BillyBlaze, thank you very much for your feedback. I completely missed the point that characters like '√'  '✓' '×'  '✖' are not rendered correctly on Teamcity. I will solve this point as soon as possible.

[2018-11-29 20:36] hdorgeval commented on #63
Hi @BillyBlaze your TeamCity issue has been solved in version 5.4.2.
See the PR #88 for more details.
Could you give it a try?

[2018-12-11 13:36] Truemedia commented on #72
I think this deadline has passed now and publishing with this module gives me this error:
Client request error: getaddrinfo ENOTFOUND api.nodesecurity.io api.nodesecurity.io:443

[2018-12-11 21:02] hdorgeval commented on #72
Hi @Truemedia , which version of publish-please are you using?

From version 5.0.0, `nsp` has been replaced by a built-in validation based on `npm audit`.

you may publish using the command `npx publish-please`.

See the [Readme](https://github.com/inikulin/publish-please) for more details.

[2018-12-12 10:09] Truemedia commented on #72
@hdorgeval Ah yes sorry that's working now. I had to do a few tweaks to my code after updating the publish-please version by reinstalling and installing due to the major version increment number aswell as other changes (creating a .sensitivedata file) and adding a "files" section to my package.json.

But all seems to be working fine now thanks, will close this ticket.

[2018-12-12 10:09] #72 closed

[2018-12-15 12:33] hdorgeval commented on #72
If you are using `npx publish-please` on a project where `publish-please` has already been installed locally and if you encounter the error :

[code]
Either uninstall the local `publish-please` and this will make the `npx publish-please` command work without error or update the local `publish-please` to latest version and continue to use the command `npm run publish-please`

[2018-12-21 10:41] falsyvalues opened #89 "Checking for the sensitive data returns false positives"
Hi!

Checking for the sensitive data returns false positives for almost empty repository.

Env
[code]
How to reproduce? Clone https://github.com/owlcode/publish-please-repro
[code]

[2018-12-21 12:40] hdorgeval commented on #89
Hi @falsyvalues , thank you for your feedback.
`scripts` folder is flagged has being sensitive data because that kind of folder mainly contains shell scripts, and it is possible that a shell script contains sensitive data.

It would be nice if you could provide the original repo on which you found that  problem, so I can check what this folder really contains.

You may apply a workaround: copy the

[2018-12-21 13:05] falsyvalues commented on #89
Hi @hdorgeval,
I can't share original repo but as You may see above it can return false positive for almost empty folders. [publish-please-repro](https://github.com/owlcode/publish-please-repro) contains only one file with console log (In my case it contains we store there only js files).
Maybe we could adapt this check? For example examine files inside folder and if all of them are js don't make

[2019-02-17 15:58] nponiros commented on #89
In my experience a scripts folder containing shell scripts is always a top-level directory. A scripts folder in a subdirectory often contains files meant to be consumed by a browser. I currently have a similar issue as @falsyvalues. I have a subfolder called scripts which contains an index.js file. In my case the contents of the scripts folder are used as template by a site generator. I can share

[2019-02-17 17:48] hdorgeval commented on #89
Hi @nponiros , thank you for the feedback. I fully agree with you. You have the possibility to exclude some files from the sensitive data check by creating a `.publishrc` file by running this command:

[code]

Follow the questions and add any exclusion you want to have. Then you could remove the `.sensitivedata` file.

[2019-02-18 17:50] nponiros commented on #89
Thanks for the info @hdorgeval. I didn't know that I can ignore files in the config file. Is this option documented in the README? I had an older config file with `"sensitiveData": true` and didn't know that I can use an object with an `ignore` property.

[2019-05-03 06:48] kailashyogeshwar85 commented on #63
Configuration to specify branch for publishing prerelease build rather than manually updating .publishrc file
@hdorgeval

[2019-07-16 15:52] AndreyBelym opened #91 "lodash@4.17.11 is vulnerable"
`lodash` versions lesser or equal to `4.17.11` have a security vulnerability: https://github.com/lodash/lodash/issues/4348. `npm` started reporting this problem in `publish-please` today:
[code]

[2019-07-28 15:59] hdorgeval commented on #91
Hi @AndreyBelym : all my apologizes because I completely skipped your issue. Should be fixed in 5.5.1.

Do not hesitate to ping me multiple times when I do not answer to your future issues.

[2019-07-29 09:36] AndreyBelym commented on #91
Don't worry, everything is OK. Thank you for a good job 👍

[2019-09-18 13:51] #91 closed

[2019-09-18 13:57] AndreyBelym commented on #63
## Support `publishConfig` from package.json

Recent `npm` versions support setting publish tags, access levels, and registry URLs via the `publishConfig` field in package.json: https://docs.npmjs.com/files/package.json#publishconfig

[2020-04-03 06:00] kailashyogeshwar85 opened #94 "Automate the publishTag rather than manual editing publishrc file for alpha/beta releases."
User should be provided with a way to set the publishTag for branches like

[code]
This helps in automating rather than including a step to edit publishrc file in automation process and then commiting it so that there are no untracked files.

[2020-04-03 15:17] crhistianramirez opened #95 "Bug: Get the error <not logged in> even though I'm logged in"
If I run `npm whoami` it correctly returns my user and if I run `npm publish` it works. Its also a bit unfortunate that the error occurs as the last step of publishing. It would be ideal to be notified earlier in the process.

![image](https://user-images.githubusercontent.com/16483662/78376744-5e8b0480-7594-11ea-9d03-f0e74d30f053.png)

[2020-04-03 15:20] crhistianramirez commented on #94
Kind of in the same vein I think it'd be nice if these settings could be grabbed from environment variables

[2020-04-03 15:47] inikulin commented on #95
afaik @hdorgeval has stepped out from the maintainer position (FIXME). So, the package currently requires a new maintainer.

We probably should add a call for new maintainers in the README. Also, if someone reading this would like to volunteer, please let me know.

[2020-04-03 16:42] crhistianramirez commented on #95
Ah thanks for letting me know. I probably can't commit to being the maintainer but I think this is a neat enough package that I'd like to help. I can start by digging into this bug

[2020-04-03 17:22] hdorgeval commented on #95
Hi @inikulin , unfortunately,  I have no more time to help you on this great project; for sure I will answer any question raised on the code/tests that I have modified;

@crhistianramirez : feel free to ask me any question if you are stuck on your PR.

[2020-04-04 13:06] inikulin commented on #95
@hdorgeval that's alright. Thank you for all the great work you've done.

[2020-04-04 15:36] crhistianramirez commented on #95
Turns out this happens because I was running `yarn publish-please` instead of `npm publish-please`. I was able to resolve this by logging into npm via yarn `yarn login`.

I'm closing this since its not really an issue with this package.

[2020-04-04 15:36] #95 closed

[2020-04-04 15:40] crhistianramirez commented on #74
I vote to close this issue.

`npm publish` will throw an error if you try to publish a package version that already exists, and I think it makes sense that it does. If you don't want to get an error you could execute the dry run option

[2020-07-20 22:55] Xunnamius opened #97 "lodash < 4.17.19 is vulnerable"
From GHSA-p6mc-m468-83gw (low severity):

Vulnerable versions: < 4.17.19
Patched version: 4.17.19

Versions of lodash prior to 4.17.19 are vulnerable to Prototype Pollution. The function zipObjectDeep allows a malicious user to modify the prototype of Object if the property identifiers are user-supplied. Being affected by this issue requires zipping objects based on user-provided property arrays.

[2020-07-21 21:56] Xunnamius commented on #97
@inikulin @hdorgeval I just noticed dependabot made a PR as well: https://github.com/inikulin/publish-please/pull/96

[2020-10-12 06:40] #97 closed